[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/lustyexplorer"]
	path = bundle/lustyexplorer
	url = git://github.com/vim-scripts/LustyExplorer.git
